img {
width: 150px;
margin-bottom: 30px;
display: block;
}
header {
  height: 420px;
  background: url('prln.png') no-repeat center center;
  background-size: cover;
   margin-bottom: 80px;
   padding-top: 50px;
}
