body{
    margin-top: 15px;
    background-color:black; 
}
.mod{
    color: white;
}
#modal{
    color: white;
}
.container-1{
    display: flex; 
    position: relative;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right : 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px;
}
.bx1{
    color: white;
    /* border: 1px solid white; */
    margin-left: 15px;
}
.bx0{
        font-size: 30px;
        text-align: center;
        padding-top: 100px;
        /* border: 1px solid white; */
        color: white;
}
.user_info_box{
    flex:2;
    /* border: 1px solid white; */
    /* width: 280px; */
    margin-left: 30px;  
}
.user_info{
    flex:1;
    /* border: 1px solid white; */
    height: 80px;
    margin-bottom:20px ;
 
    color: white;
}
.user_info1{
    flex:1;
    color: white;

    /* border: 1px solid white; */
    height: 60px;
    margin-top:30px;
}
.user_info_date{
    flex:1;
    color: white;

    /* border: 1px solid white;  */
    margin-top: 10px;
   
}
.rate{

    /* border: 1px solid white; */
    width: 75px;
    margin-left: 13px;
    text-align: center;
    
    color: white;
}
#btn-up{
   margin: 20px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 35px    ;
}
.btn-up1{

   margin: 20px;
   margin-left:auto;
   margin-right:auto;
   

}
#values{
text-align: center;
font-size: 30px;
}
#img{
    width: 80px;
    cursor: pointer;
    backface-visibility: hidden;
    position: relative;
    right: 200px;
    background-color:red;
    bottom: 80px;
    border-radius: 50%;
  }
  #img2{
    width: 40px;;

    background-color:red; 
    backface-visibility: hidden;
    margin-top: 30px ;
    margin-left:auto;
    margin-right:auto;
    margin-left: 3px;
  }
  #video{
      width: 250px;
      height: 230px
  }
  .bs-example{
    margin: 20px;
}
.modal-content iframe{
    margin: 0 auto;
    display: block;
}
  .modal-content{
    background-color: #323232;
    position: relative;
    right: 120px;
    width: 900px;
    height: 650px;
    }
    .modal-header{
        position: relative;
    
    }
    .modal-header .close {
      font-size: 50px; 
      position: absolute; 
      right:0px;
      bottom: 50px;
      color: #ff0000;
      }
      .modal-body{
          position: absolute;
          left: 120px;
      }
      #cartoonVideo{
          position: absolute;
          width: 500px;
          left: 90px;
      }
      .text{
          position: absolute;
          top: 300px;
          color: red;
    
      }
    .text1{
        position: absolute;
        right:0px;
        color: red;
        top: 300px;
    
    }
    .user_info{
        display: flex; 
        position: absolute;
        top: 490px;
        left: 110px;
	border: 2px solid white;
    }
    .user_box{
        display: block;
        height: 100px;
        top: 30px;
        position: relative;;
        right: 80px;
    
    }
    #usercmment{
        position: relative;
        top:30px;
        left: 10px;
        right: 30px;
        width:400px;
        height:200px; 
        word-wrap: break-word;
    }
    .comment{
        color:white;
    }
    .info{
        color:white;
    }
    .voting_sys{

        position: relative;
        width: 90px;
        height: 100px;
        text-align: center;
        top: 30px;
        left: 150px
    
    }
    .vote_number{
        color:white; 
        font-size:30px;
    } 
   