#background {
	background-color: black;
}
.static_part{
	position: relative;
	width:100%;
	height: 100%;
}
.typography{
	font-family: Palatino ;
	position: absolute;
	left: 40px;
	color: white;
	top: 90px;
}
.user_buttons {
	position: absolute;
	top: 60px;
	right: 0px;
}
.user_buttons > button{

	    margin: 30px ;
}

.timespan{
	position: absolute;
	top: 160px;
	left: 60px;

}
.timespan > button {
	color:red;
}
.week_id{
	position: absolute;
	color:red;
	top: 260px;
	left: 50%;

}
.week_id > button {
	color:red;
}
.hid{
	  background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      color: white;
      overflow: hidden;
}
.specifc{
	position: absolute;
	bottom: 30px;
	right: 63px;

}