/* body{
    background-color: black;
} */ 
/*This is temporarilyy just to make the */
.user_box{
    position: relative;
    width: 1oo%;
    height: 400px;
    background-color: black;
}
#user_section{
    position: absolute;
    top:80px;
    left: 60px;

}

/* #user_buttons{
    position: absolute;
    padding: 12px;
    top:40px;
    left:240px;
} */